body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: large;
    font-weight: bold;
    font-style: black;
    background-color: white;
}
.tituloproductos{
    padding: 10px;
    font-size: large
}
.micolor{
    background-color: red;
}

.texto{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: large;
    font-weight: bold;
    font-style: normal;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.imagenes{
    align-items: center;
    justify-content: center;
}

img{
    display: block;
    margin: 0px auto;
}

iframe{
    display: block;
    margin: 0px auto;
    animation-play-state: running;
}